@import './variables';

.technologies-row {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.technologies span {
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  margin: 8px;
  background-color: var(--bgThemeColor6);
  color: white;
}

#about-me-section {
  
  .about-me-title {
    margin-bottom: 30px;
    text-align: center;
  }

  
  p {
    margin: 20px 0;
    line-height: 1.8;
  }
  
  a:hover {
    color:white;
  }
}

#avatar-section {
  .avatar-block {
    text-align: center;

    .avatar-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: 5px solid var(--bgThemeColor1);
        box-shadow: $box-shadow;
        margin: 10px 20px;
    }

    .avatar-description {
        margin: 10px 20px;
    }

    h2 {
        color: var(--textThemeColor3);
        font-weight: 700;
    }

    p {
        margin: 10px auto 20px;
    }
  }
}
