@import './variables';

#login-section, #registration-section {
    .login-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loading-progress-div {
        text-align: center;
        margin-top: 16px;
    }

    .MuiFormControl-root {
        background-color: var(--bgThemeColor4);
        box-shadow: $box-shadow;
    }

    .MuiFormLabel-root {
        color: var(--textThemeColor1);
    }

    .MuiInputBase-root {
        color: var(--textThemeColor5);
    }

    .form {
        margin-top: 8px;
    }

    .submit-button-div {
        margin: 30px auto 20px;
        text-align: center;
    }

    .loading-icon {
        color: rgb(0, 217, 0);
        margin-top: 15px;
    }

    .submit-button {
        width: 100%;
    }

    .log-out-button {
        margin-top: 20px;
    }

    .message-block {
        text-align: center;
        
        p {
            color: green;
        }
    }
}

#registration-section {
    .password-requirements-block {
        list-style: none;
        padding-left: 0;

        .title {
            text-align: center;
            color: red;
        }

        li {
            margin: 10px auto;
            color: var(--textThemeColor1)
        }

        .check-icon {
            color: green;
        }

        .close-icon {
            color: red;
        }
    }

    
}