@import './variables';

#banner-home-section {
    background-color: #cfcfe5;
    margin-top: 50px;

    .container {
        min-height: 500px;
        display: flex;
        align-items: center;
    }

    .main-h1 {
        text-align: center;
        margin: 40px auto;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.5;
    }

    .avatar-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px auto;
    
        .avatar-image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            border: 5px solid white;
            box-shadow: $box-shadow;
            margin: 10px 20px;
        }

        .avatar-description {
            margin: 10px 20px;
        }

        h2 {
            text-transform: uppercase;
            color: black;
            font-weight: bold;
        }

        p {
            margin: 10px auto 20px;
        }
    }
    
}

#projects-section {
    text-align: center;

    .section-title {
        margin-bottom: 30px
    }

    a {
        text-decoration: none;
        transition: $global-transition;
    }

    a:hover {
        color: var(--textThemeColor4);
    }

    svg {
        color: var(--textThemeColor3);
    }


    .project-card {
        padding: 20px 20px;
        
        .project-title {
            margin: 30px auto 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    #banner-home-section {
        .avatar-block {
            flex-direction: column;
            text-align: center;
    
            .avatar-image {
                margin: 10px auto;
            }
        }

        .main-h1 {
            font-size: 2rem;
            margin-bottom: 0;
        }
    }
}