$color1: #8490ff;
$color2: #62bdfc;
$box-shadow: 0 0px 5px rgb(138, 137, 137);

$game-radius: 80%;

$global-transition: 0.3s;

$themes: (
  bgThemeColor1: (
    darkTheme: #1e1e1e,
    lightTheme: white,
  ),
  bgThemeColor2: (
    darkTheme: #454c84c4,
    lightTheme: #8490ff,
  ),
  bgThemeColor3: (
    darkTheme: #316183ce,
    lightTheme: #62bdfc,
  ),
  bgThemeColor4: (
    darkTheme: #1a1a1e,
    lightTheme: white,
  ),
  bgThemeColor5: (
    darkTheme: #1a1a1e,
    lightTheme: #222831,
  ),
  bgThemeColor6: (
    darkTheme: #8490ff80,
    lightTheme: #8490ff,
  ),
  textThemeColor1: (
    darkTheme: #757575,
    lightTheme: #777777,
  ),
  textThemeColor2: (
    darkTheme: white,
    lightTheme: white,
  ),
  textThemeColor3: (
    darkTheme: white,
    lightTheme: black,
  ),
  textThemeColor4: (
    darkTheme: white,
    lightTheme: #8490ff,
  ),
  textThemeColor5: (
    darkTheme: #ffffff,
    lightTheme: #777777,
  ),
  textThemeColor6: (
    darkTheme: #757575,
    lightTheme: white,
  ),
);
